[submodule "libs/ack"]
	path = libs/ack
	url = git://github.com/petdance/ack.git
[submodule "libs/git-extras"]
	path = libs/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "libs/z"]
	path = libs/z
	url = git://github.com/rupa/z.git
[submodule "libs/nave"]
	path = libs/nave
	url = git://github.com/isaacs/nave.git
[submodule "link/.vim"]
	path = link/.vim
  url=git://github.com/mPastuszko/vimfiles.git
